<div class="jumbotron">
  <div class="jumbotron__vitrine">
    <gd-centered-panel>
      <div class="jumbotron__conteudo jumbotron__conteudo-{{ categoria }}">
        <div class="jumbotron__icone" aria-hidden="true">
          <img
            class="icone-asp"
            src="assets/img/fotos/logos/asp.gif"
            *ngIf="categoria === 'asp'"
          />
          <span
            class="fa-brands fa-angular"
            *ngIf="categoria === 'angular'"
          ></span>
          <span
            class="fa-brands fa-angular"
            *ngIf="categoria === 'angularjs'"
          ></span>
          <span
            class="fa-solid fa-pen-ruler"
            *ngIf="categoria === 'arquitetura'"
          ></span>
          <span
            class="fa-solid fa-user-group"
            *ngIf="categoria === 'autores'"
          ></span>
          <span class="fa-brands fa-css3" *ngIf="categoria === 'css'"></span>
          <span
            class="fa-solid fa-id-card"
            *ngIf="categoria === 'contato'"
          ></span>

          <img
            src="assets/img/fotos/logos/c-sharp-branco.gif"
            width="200px"
            *ngIf="categoria === 'dotnet'"
          />
          <span class="fa-solid fa-bug" *ngIf="categoria === 'erro'"></span>
          <img
            src="assets/img/fotos/logos/flutter.svg"
            width="200px"
            *ngIf="categoria === 'flutter'"
          />
          <span class="fa-brands fa-html5" *ngIf="categoria === 'html'"></span>
          <img
            src="assets/img/fotos/logos/jonastorres-dev.gif"
            width="220px"
            *ngIf="categoria === 'institucional'"
          />
          <span
            class="fa-brands fa-js"
            *ngIf="categoria === 'javascript'"
          ></span>
          <img
            class="pagina-nao-encontrada"
            src="assets/img/fotos/pagina-nao-encontrada/travolta.gif"
            width="200px"
            *ngIf="categoria === 'pagina-nao-encontrada'"
          />
          <span class="fa-brands fa-react" *ngIf="categoria === 'react'"></span>
          <span
            class="fa-solid fa-person-chalkboard"
            *ngIf="categoria === 'sobre'"
          ></span>
          <span class="fa-brands fa-vuejs" *ngIf="categoria === 'vue'"></span>
        </div>
        <div class="jumbotron__titulo">
          <h1
            [class.destaque]="subtitulo.length === 0"
            *ngIf="titulo.length > 0"
          >
            {{ titulo }}
          </h1>
          <h2 *ngIf="subtitulo.length > 0">{{ subtitulo }}</h2>
        </div>
        <div class="jumbotron__dados" [class.sem-borda]="titulo.length === 0">
          <ng-container *ngIf="dataCriacao">
            <span class="fa-solid fa-calendar-days icon"></span>
            {{ dataCriacao | date: "longDate":"":"pt-BR" }}
            <span class="icon2" aria-hidden="true"> | </span>
          </ng-container>
          <ng-container *ngIf="dataEdicao">
            <span class="fa-solid fa-pen-to-square icon"></span>Ultima edição:
            {{ dataEdicao | date: "longDate":"":"pt-BR" }}
            <span class="icon2" aria-hidden="true"> | </span>
          </ng-container>
          <ng-container *ngIf="tempoLeitura">
            <span class="fa-solid fa-stopwatch icon"></span
            >{{ tempoLeitura }} min de leitura
          </ng-container>
        </div>
        <div
          class="jumbotron__compartilhamento"
          [class.sem-borda]="titulo.length === 0"
        >
          <ul class="jumbotron__list" *ngIf="compartilharBox">
            <li>
              <a href="#" target="_blank">
                <span class="icon socicon-youtube" aria-hidden="true"></span>
                <span class="title">YouTube</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </gd-centered-panel>
  </div>
  <div class="jumbotron__fundo {{ categoria }}">
  </div>
</div>
