<div class="jt">
  <section class="jt__artigos">
    <jt-jumbotron
      [titulo]="''"
      [categoria]="'home'"
      [compartilharBox]="false"
    ></jt-jumbotron>

    <!-- <section class="home__ultimos-artigos">
      <h1 class="home__ultimos-artigos-titulo">Ultimos artigos:</h1>
      <jt-box-artigo class="home__ultimos-artigos1" [artigo]="ultimosArtigos[0]"></jt-box-artigo>
      <jt-box-artigo class="home__ultimos-artigos2" [artigo]="ultimosArtigos[1]"></jt-box-artigo>
      <jt-box-artigo class="home__ultimos-artigos3" [artigo]="ultimosArtigos[2]"></jt-box-artigo>
      <jt-box-artigo class="home__ultimos-artigos4" [artigo]="ultimosArtigos[3]"> </jt-box-artigo>
    </section> -->

    <section class="home__artigos-populares">
      <h2 class="home__artigos-populares-titulo">Artigos populares</h2>
      <div class="home__artigos-populares-grid">
        <jt-box-artigo [artigo]="ultimosArtigos[0]"></jt-box-artigo>
        <jt-box-artigo [artigo]="ultimosArtigos[1]"></jt-box-artigo>
        <jt-box-artigo [artigo]="ultimosArtigos[2]"></jt-box-artigo>
        <jt-box-artigo [artigo]="ultimosArtigos[3]"> </jt-box-artigo>
        <jt-box-artigo [artigo]="ultimosArtigos[2]"></jt-box-artigo>
        <jt-box-artigo [artigo]="ultimosArtigos[3]"> </jt-box-artigo>
      </div>
    </section>
  </section>

  <aside *ngIf="categorias && ultimosArtigos">
    <jt-box-busca></jt-box-busca>
    <jt-box-categorias [categorias]="categorias"></jt-box-categorias>
    <jt-siga-nos></jt-siga-nos>
  </aside>
</div>
