@import "../../../styles/styles.scss";

@mixin box-pequeno {
  .artigo-box {
    grid-template-columns: 9rem 1fr;
    &:hover .artigo-box__icone {
      font-size: 4.5rem !important;
    }

    &__capaloading {
      height: 30px;
      width: 60px;
    }

    &__ghost-container-data {
      display: none;
    }

    &__ghost-paragrafo {
      display: none;
    }
  }

  .artigo-box__box-conteudo {
    align-self: center;
  }

  section.artigo-box__capa {
    width: 60px;
    height: 30px;

    .artigo-box__icone {
      font-size: 3.5rem;
    }
  }
  section.artigo-box__box-titulo {
    h3 {
      font-size: 1.25rem;
    }

    h4 {
      font-size: 1.15rem;
    }

    p.artigo-box__spoiler {
      display: none;
    }
  }

  section.artigo-box__box-dados {
    display: none;
  }
}

:host ::ng-deep {
  .jt__artigos {
    margin-bottom: .5rem;
  }
}

.home {
  &__ultimos-artigos {
    display: grid;
    grid-template-areas:
      "titulo titulo"
      "artigo1 artigo2"
      "artigo1 artigo3"
      "artigo1 artigo4";
    grid-template-columns: 1fr 430px;
    column-gap: 2.5rem;
    @include box-shadow;

    background-color: $gd-colorligth-primary-100;
    margin-top: -23.5rem;
    position: absolute;
    width: 921px;
    border-radius: 8px;
    padding: 0rem 3rem 3.25rem 2rem;
    height: 411px;

    @include media-down($gd-media-tablet-maxwidth) {
      display: none;
    }

    &-titulo {
      grid-area: titulo;
    }

    &1 {
      grid-area: artigo1;
    }

    &2 {
      grid-area: artigo2;

      section.artigo-box__box-titulo h3 {
        font-size: 1rem;
      }
    }
    &3 {
      grid-area: artigo3;
    }
    &4 {
      grid-area: artigo4;
    }
  }

  &__artigos-populares {
    background-color: $gd-color-white;
    @include box-shadow;

    @include media-down($gd-media-tablet-maxwidth) {
      padding: 0.5rem 0 0.25rem 0.5rem;
    }

    @include media-up($gd-media-tablet-maxwidth) {
      border-radius: 16px;
      margin-top: 1.5rem;
      padding: 1rem 2rem;
      padding-bottom: 1px;
    }

    &-grid {
      @include media-down($gd-media-phone-maxheight) {
        display: grid;
        gap: 0rem;
        column-gap: 0rem;
        grid-template-columns: 1fr;
      }

      @include media-between($gd-media-phone-maxheight, 60rem) {
        display: grid;
        gap: 0.25rem;
        column-gap: 0.25rem;
        grid-template-columns: 1fr 1fr;
      }

      @include media-between(60rem, $gd-media-tablet-maxwidth) {
        display: grid;
        gap: 0.25rem;
        column-gap: 0.25rem;
        grid-template-columns: 1fr 1fr 1fr !important;
      }

      @include media-up($gd-media-tablet-maxwidth) {
        display: block;
      }
    }

    &-titulo {
      @include media-down($gd-media-tablet-maxwidth) {
        margin: 0.5rem 0 1.25rem 0;
      }

      @include media-up($gd-media-tablet-maxwidth) {
        font-size: 1.75rem;
        margin: 0 0 0.5rem;
      }
    }
  }
}

.semCategoria {
  display: block;
  margin-top: 1.5rem;
}

:host::ng-deep {
  .home__ultimos-artigos {
    &1 {
      .artigo-box {
        display: grid;
        grid-template-columns: none;
        justify-content: center;

        &:hover .artigo-box__icone {
          font-size: 11rem !important;
        }

        .artigo-box__spoiler,
        .artigo-box__leia-mais {
          display: none !important;
        }

        &:hover .artigo-box__capa {
          transform: scale(1.05);
        }
        &__capa {
          width: 380px;
        }

        &__titulo {
          padding-top: 0.5rem;
        }

        &__icone {
          font-size: 9rem;
        }

        &__dados {
          border: none;
          padding-top: 1rem;
        }

        &__capaloading {
          height: 144px;
          width: 380px;
        }

        &__ghost-paragrafo {
          display: none;
        }
      }
    }

    &2 {
      @include box-pequeno;
    }

    &3 {
      @include box-pequeno;
    }

    &4 {
      @include box-pequeno;
    }
  }
}

