@import "../../../../../../../guide-dog/src/lib/styles/gd.scss";

.artigo {
  @include scaffolding-card;

  @include media-between(
    $gd-media-phone-maxwidth + 1,
    $gd-media-tablet-maxwidth - 1
  ) {
    overflow: hidden;
    padding: 0 1.5rem;
    // width: calc(100% - 2rem);
  }

  @include media-between(
    $gd-media-phone-maxwidth + 1,
    $gd-media-tablet-maxwidth - 1
  ) {

    // padding: 0 1rem 0 .5rem;
  }

  @include media-up($gd-media-tablet-maxwidth) {
    padding: 1rem 2rem;
  }

  &-content {
    margin-bottom: .5rem;

    @include media-down($gd-media-phone-maxwidth) {
      overflow: hidden;
      width: 100vw;
    }
  }
}


.gd__ligth {
  &.artigo {

  }
}

.gd__dark {
  &.artigo {
  }
}

.gd__contrast {
  &.artigo {
    background-color: $gd-color-black;
    border: solid 1px $gd-color-white;
    box-shadow: 0 1px 1px -1px rgb(0 0 0 / 20%), 0 2px 3px rgb(255 255 255 / 14%), 0 1px 9px rgb(255 255 255 / 69%);
    color: $gd-color-white;
  }
}
