<section
  class="artigo"
  [class.gd__ligth]="theme === 'ligth'"
  [class.gd__dark]="theme === 'dark'"
  [class.gd__contrast]="theme === 'contrast'">
  <gd-breadcrumb [breadcrumbsItem]="breadcrumbsItem"></gd-breadcrumb>
  <div [innerHtml]="dadosArtigo?.conteudoArtigo"></div>
</section>
<jt-box-compartilhe></jt-box-compartilhe>
<jt-box-outros-artigos
  [listaArtigoSerie]="listaArquivoSerie"
  [artigoAtual]="dadosArtigo?.titulo"
  *ngIf="listaArquivoSerie.length > 0"></jt-box-outros-artigos>
<jt-autor [autor]="dadosAutor"></jt-autor>
