@import "../../../../../../../guide-dog/src/lib/styles/gd.scss";

h2 {
  margin: 0;
}

.autor {
  @include scaffolding-card;
  display: grid;
  line-height: 1.8rem;
  margin: 1rem 0 0rem;
  padding: 1rem 2rem;

  @include media-down($gd-media-phone-maxwidth) {
    margin-top: 0.5rem;
    grid-template-areas:
    "foto"
    "nome"
    "cargo"
    "sobre";
    padding: 1rem 0.5rem 0.5rem 0.5rem;
  }

  @include media-between(
    $gd-media-phone-maxwidth + 1,
    $gd-media-tablet-maxwidth - 1
  ) {
    border-radius: 8px;
    margin: 1rem 0 0;
    grid-template-areas:
    "foto nome"
    "foto cargo"
    "foto sobre";
    padding: 1rem 2rem;
  }

  @include media-up($gd-media-tablet-maxwidth) {
    border-radius: 8px;
    margin: 1rem 0 0;
    grid-template-areas:
    "foto nome"
    "foto cargo"
    "foto sobre";
    padding: 2rem;
  }

  &__foto {
    align-self: start;
    border-radius: 8px;
    grid-area: foto;
    justify-self: center;
    margin-right: 2rem;
    overflow: hidden;

    img {
      width: 154px;
    }

    @include media-down($gd-media-phone-maxwidth) {
      height: 75vw;
      width: 75vw;
      margin: auto;
      margin-bottom: 1.5rem;

      img {
        width: 75vw;
      }
    }

    @include media-between(
      $gd-media-phone-maxwidth + 1,
      $gd-media-tablet-maxwidth - 1
    ) {
      height: 150px;
      width: 150px;
    }

    @include media-up($gd-media-tablet-maxwidth) {
      height: 150px;
      width: 150px;
    }
  }

  &__nome {
    font-family: "OoohBaby";
    font-size: 2.5rem;
    font-style: italic;
    grid-area: nome;
    padding-bottom: 0.25rem;

    @include media-down($gd-media-phone-maxwidth) {
      text-align: center;
    }
  }

  &__cargo {
    grid-area: cargo;
    font-family: $title_font_family;
    font-size: 1.25rem;
    font-weight: bold;

    @include media-down($gd-media-phone-maxwidth) {
      text-align: center;
    }
  }

  &__sobre {
    grid-area: sobre;
    margin: .75rem 0 0;

    @include media-down($gd-media-phone-maxwidth) {
      margin: .75rem 0 .5rem;
      padding: 0 1rem;
    }
  }
}


.gd__ligth {
  &.autor {
    background-color: $gd-colorligth-primary-200;
    border: none;
    color: $gd-color-black;
  }
}

.gd__dark {
  &.autor {
    background-color: $gd-colorligth-primary-200;
    border: none;
    color: $gd-color-black;
  }
}

.gd__contrast {
  &.autor {
    background-color: $gd-color-black;
    border: solid 1px $gd-color-white;
    box-shadow: 0 1px 1px -1px rgb(0 0 0 / 20%), 0 2px 3px rgb(255 255 255 / 14%), 0 1px 9px rgb(255 255 255 / 69%);
    color: $gd-color-white;

    img {
      border: solid 3px $gd-color-white;
      border-radius: 16px;
      // filter: invert(100%);
      filter: grayscale(100%);
      width: 146px;
    }
  }
}

