<gd-breadcrumb [breadcrumbsItem]="breadcrumbsItem"></gd-breadcrumb>
<h1 *ngIf="id.length === 0">Novo usuário</h1>
<h1 *ngIf="id.length > 0">Edição de usuário</h1>

<form
  class="artigo-edicao"
  [formGroup]="form"
  (submit)="submit()"
  autocomplete="off"
>

<p class="usuarios-edicao__container-salvar">
  <button class="botao confirmDialog__no" type="button" [routerLink]="['/admin/usuarios']">
    <span class="icone_botao fa-solid fa-xmark" aria-hidden="true"></span>
    Cancelar
  </button>
  <button class="botao confirmDialog__yes" type="submit" [disabled]="form.invalid">
    <span class="icone_botao fa-solid fa-check" aria-hidden="true"></span>
    Salvar
  </button>
</p>
</form>
