<gd-breadcrumb [breadcrumbsItem]="breadcrumbsItem"></gd-breadcrumb>
<form
  class="artigo-edicao"
  [formGroup]="form"
  (submit)="submit()"
  autocomplete="off"
>

<div class="artigo-edicao__grid-titulo">
  <h1 *ngIf="!ehEdicao">Novo Artigo</h1>
  <h1 *ngIf="ehEdicao">Edição de artigo</h1>
  <p-inputSwitch
    id="ativo"
    class="artigo-edicao__ativo"
    formControlName="ativo"
  ></p-inputSwitch>
</div>

  <p class="p-float-label artigo-edicao__margin-top2">
    <input
      id="titulo"
      class="artigo-edicao__input-linha"
      type="text"
      formControlName="titulo"
      pInputText
    />
    <label for="titulo">Título</label>
  </p>

  <p class="p-float-label artigo-edicao__margin-top">
    <input
      id="subtitulo"
      class="artigo-edicao__input-linha"
      type="text"
      formControlName="subtitulo"
      pInputText
    />
    <label for="subtitulo">Subtítulo</label>
  </p>

  <div class="artigo-edicao__grid-url">
    <div>
      <label for="url">URL</label>
      <input
        type="text"
        id="url"
        class="artigo-edicao__input-linha"
        formControlName="url"
        readonly
        pInputText
      />
    </div>

    <div class="artigo-edicao__grid-url-col2">
      <label for="tempo-leitura">Tempo de leitura</label>
      <input
        type="text"
        id="tempo-leitura"
        formControlName="tempoLeitura"
        readonly
        pInputText
      />
    </div>
  </div>

  <p class="p-float-label artigo-edicao__margin-top2">
    <p-chips
      id="metatags"
      class="artigo-edicao__input-linha"
      formControlName="metatags"
    ></p-chips>
    <label for="metatags">Metatags </label>
  </p>

  <div class="artigo-edicao__margin-top artigo-edicao__grid-data">
    <div>
      <label>Autor</label>
      <select for="Autor" formControlName="autorId">
        <option value="">Selecione...</option>
        <ng-container *ngFor="let autor of listaAutor">
          <option [value]="autor.id">{{ autor.nome }}</option>
        </ng-container>
      </select>
      <button
        type="button"
        tabindex="0"
        class="table-busca__botao-novo"
        (click)="abrirModalAutor()"
      >
        <span class="icone_botao fa-solid fa-plus" aria-hidden="false"></span>
        Adicionar novo autor
      </button>
    </div>

    <div>
      <label for="data-criacao">Data de criação</label>
      <input
        type="date"
        id="data-criacao"
        formControlName="dataCriacao"
        pInputText
        readonly
      />
    </div>

    <div>
      <label for="data-edicao">Data da ultima edição</label>
      <input
        type="date"
        id="data-edicao"
        formControlName="dataEdicao"
        pInputText
        readonly
      />
    </div>

    <div class="artigo-edicao__grid-data3">
      <label for="data-agendamento">Data de agendamento</label>
      <input
        type="date"
        id="data-agendamento"
        formControlName="dataAgendamento"
        pInputText
      />
    </div>
  </div>

  <div class="artigo-edicao__grid-classicicacao">
    <div>
      <label>Classificação</label>
      <select for="categoria" formControlName="classificacaoId">
        <option value="">Selecione...</option>
        <ng-container *ngFor="let classificacao of listaClassificacao">
          <option [value]="classificacao.id">{{ classificacao.nome }}</option>
        </ng-container>
      </select>
    </div>

    <div>
      <label>Categoria</label>
      <select for="categoria" formControlName="categoriaId">
        <option value="">Selecione...</option>
        <ng-container *ngFor="let categoria of listaCategoria">
          <option [value]="categoria.id">{{ categoria.nome }}</option>
        </ng-container>
      </select>
    </div>

    <div class="artigo-edicao__grid-classicicacao3">
      <label>Subcategoria</label>
      <select for="subcategoria" formControlName="subcategoriaId">
        <option value="">Selecione...</option>
        <ng-container *ngFor="let subcategoria of listaSubcategoria">
          <option [value]="subcategoria.id">{{ subcategoria.nome }}</option>
        </ng-container>
      </select>
    </div>

    <div class="artigo-edicao__grid-classicicacao4">
      <button
        type="button"
        tabindex="0"
        class="table-busca__botao-novo"
        (click)="abrirModalClassificacao()"
      >
        <span class="icone_botao fa-solid fa-plus" aria-hidden="false"></span>
        Adicionar nova classificação
      </button>
    </div>
  </div>

  <p class="artigo-edicao__grid-serie">
    <label>Vincular a série de artigos</label>
    <select formControlName="serieId" formControlName="classificacaoId">
      <option value="">Selecione...</option>
    </select>
    <button
    type="button"
    tabindex="0"
    class="table-busca__botao-novo"
    (click)="abrirModalSerie()"
  >
    <span class="icone_botao fa-solid fa-plus" aria-hidden="false"></span>
    Adicionar nova série
  </button>
  </p>
  <div>
    <fieldset>
      <legend>Conteudo</legend>
      <p-tabView>
        <p-tabPanel header="Editor">
          <p-editor
            [style]="{ height: '320px' }"
            formControlName="conteudoArtigo"
          ></p-editor>
        </p-tabPanel>
        <p-tabPanel header="Ver código HTML">
          <textarea
            class="artigo-edicao__textarea"
            formControlName="conteudoArtigo"
            [value]="form.get('conteudoArtigo')!.value"
            (input)="equalizarTexto($event)"
          >
          </textarea>
        </p-tabPanel>
      </p-tabView>
    </fieldset>
  </div>
  <p class="artigo-edicao__container-salvar">
    <button class="botao confirmDialog__no" type="button" [routerLink]="['/admin/artigos']">
      <span class="icone_botao fa-solid fa-xmark" aria-hidden="true"></span>
      Cancelar
    </button>
    <button class="botao confirmDialog__yes" type="submit" [disabled]="form.invalid">
      <span class="icone_botao fa-solid fa-check" aria-hidden="true"></span>
      Salvar
    </button>
  </p>
</form>

<p-dialog
  header="Adicionar {{ tipoDoModal }}"
  [(visible)]="displayModal"
  [style]="{ width: '50vw' }"
  [modal]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <jt-modal-autor *ngIf="tipoDoModal === 'Autor'"></jt-modal-autor>
  <jt-modal-classificacao
    *ngIf="tipoDoModal === 'Classificação'"
  ></jt-modal-classificacao>
  <jt-modal-serie *ngIf="tipoDoModal === 'Serie'"></jt-modal-serie>

  <ng-template pTemplate="footer">
    <button
      class="confirmDialog__no"
      type="button"
      (click)="displayModal = false"
    >
      <span class="icone_botao fa-solid fa-xmark" aria-hidden="true"></span>
      Cancelar
    </button>
    <button
      class="confirmDialog__yes"
      type="button"
      [disabled]="form.valid"
      (click)="displayModal = false"
    >
      <span class="icone_botao fa-solid fa-check" aria-hidden="true"></span>
      Salvar
    </button>
  </ng-template>
</p-dialog>
