<section class="categoria" *ngIf="categorias.length > 0">
  <h2 class="categoria__titulo">Categorias</h2>
  <ul class="categoria__lista">
    <ng-container *ngFor="let classificacao of categorias">
      <ng-container *ngFor="let categoria of classificacao.categorias">
        <li class="categoria__item">
          <a
            class="categoria__link"
            [routerLink]="['/', classificacao.url, categoria.urlCategoria]"
            routerLinkActive="categoria__link--selecionado ">
            <span class="categoria__link-label">{{ categoria.labelCategoria }}</span>
            <span class="fa-solid fa-caret-right" aria-hidden="true"></span>
          </a>
          <!-- <ng-container *ngIf="(categoria.labelCategoria | lowercase) === categoriaSelecionada; else lista_selecionavel">
            <span class="categoria__link--selecionado">
              <span class="categoria__link-label">{{ categoria.labelCategoria }}</span>
            </span>
          </ng-container>
          <ng-template #lista_selecionavel>
            <a class="categoria__link" [routerLink]="['/', classificacao.url, categoria.urlCategoria]">
              <span class="categoria__link-label">{{ categoria.labelCategoria }}</span>
              <span class="fa-solid fa-caret-right" aria-hidden="true"></span>
            </a>
          </ng-template> -->
        </li>
      </ng-container>
    </ng-container>
  </ul>
</section>
