@import "../../../styles/styles.scss";

.categoria {
  margin-bottom: 1.25rem;

  @include media-down($gd-media-tablet-maxwidth) {
    border: solid 1px #000;
    border-radius: 16px;
    padding: 1rem;
  }

  &__titulo {
    font-size: 1.75rem;
    margin: 0 0 .5rem 0;
  }

  &__lista {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    &:first-child {
      border-top: solid 1px #000;
    }
  }

  &__link {
    align-items: center;
    border: none;
    border-bottom: solid 1px #000;
    border-top: none;
    cursor: pointer;
    display: grid;
    font-size: 1.075rem;
    grid-template-columns: 1fr 24px;
    justify-items: start;
    line-height: 1.8rem;
    padding: .5rem 0;
    position: relative;
    transition: all 0.3s;
    text-decoration: none;
    width: 100%;

    &::before, &::after{
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      transition: all 0.25s ease;
      top: 0;
      width: 100%;
      z-index: 0;
    }

    &::before{
      transition-duration: 0.5s;
    }

    &:hover::before{
      box-shadow: inset 0 0 0 60px $gd-colorligth-primary-50;
    }

    &:hover {
      font-size: 1.5rem;
      font-weight: bold;
    }

    &-label {
      padding-left: .5rem;
      z-index: 1;
    }

    &--selecionado {
      background-color: $gd-colorligth-primary-50;
      border-bottom: solid 1px #000;
      display: inline-block;
      width: 100%;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &__link , &__link:link, &__link:visited, &__link:hover, &__link:active {
    color: #000;
  }
}

.fa-solid {
  z-index: 1;
}

