<section class="categoria">
  <h2 class="categoria__titulo">Categorias</h2>
  <ul class="categoria__lista">
    <li class="categoria__item">
      <a class="categoria__link" routerLink="">
        <span class="categoria__link-label">Categoria 1</span>
        <span class="fa-solid fa-caret-right" aria-hidden="true"></span>
      </a>
    </li>
    <li class="categoria__item">
      <a class="categoria__link" routerLink="">
        <span class="categoria__link-label">Categoria 2</span>
        <span class="fa-solid fa-caret-right" aria-hidden="true"></span>
      </a>
    </li>
    <li class="categoria__item">
      <a class="categoria__link" routerLink="">
        <span class="categoria__link-label">Categoria 3</span>
        <span class="fa-solid fa-caret-right" aria-hidden="true"></span>
      </a>
    </li>
    <li class="categoria__item">
      <a class="categoria__link" routerLink="">
        <span class="categoria__link-label">Categoria 4</span>
        <span class="fa-solid fa-caret-right" aria-hidden="true"></span>
      </a>
    </li>
    <li class="categoria__item">
      <a class="categoria__link" routerLink="">
        <span class="categoria__link-label">Categoria 5</span>
        <span class="fa-solid fa-caret-right" aria-hidden="true"></span>
      </a>
    </li>
  </ul>
</section>
