@import "../../../../../styles/styles.scss";

.jumbotron {
  height: 23rem;
  max-width: 100vw;
  width: 100%;
  z-index: 2;

  &__vitrine {
    // height: 32rem;
    left: 0;
    max-width: 100vw;
    padding-top: 5rem;
    position: absolute;
    top: 2rem;
    width: 100%;
    z-index: 10;
  }

  &__conteudo {
    display: grid;
    grid-template-areas:
      "icone titulo titulo"
      "icone dados compartilhamento";
    grid-template-columns: 225px 2fr 1fr;
    padding-top: 60px;

    &-angular {
      color: #fff;
    }
  }

  &__icone {
    grid-area: icone;
    text-shadow: 2px 4px #000;

    .fa-angular {
      font-size: 200px;
    }
  }

  &__titulo {
    align-self: end;
    grid-area: titulo;
    padding-bottom: 1.5rem;
    text-shadow: 2px 4px #000;

    h1 {
      font-size: 3.25rem;
      margin: 0;
    }

    h2 {
      font-size: 2.45rem;
      margin: 0;
    }
  }

  &__dados {
    padding-top: 1.25rem;
    grid-area: dados;
    // align-self: center;
  }

  &__compartilhamento {
    // padding-top: 1.25rem;
    grid-area: compartilhamento;
  }

  &__fundo {
    background-color: #808080;
    background: linear-gradient(
      150deg,
      rgba(124, 124, 124, 0.8) 0%,
      rgba(180, 180, 180, 1) 10%,
      rgba(0, 0, 0, 1) 89%
    );
    height: 27rem;
    left: 0;
    max-width: 100vw;
    position: absolute;
    top: 2rem;
    width: 100%;

    &:after {
      background-image: url("/assets/img/backgrounds/circuit-board-white.svg");
      content: "";
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.1;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__list {
    display: inline-block;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      position: relative;
      transform: translateY(0px);
      transition: all 0.3s;

      &:hover {
        transform: translateY(-11px);
      }

      &:hover .icon {
        transform: scale(1.15);
      }

      &:hover .title {
        transform: scale(1);
      }

      a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #fff;
    margin: 0 0.5rem;
    text-decoration: none;
  }
    }
  }
}
