<div class="jumbotron">
  <div class="jumbotron__vitrine">
    <gd-centered-panel>
      <div class="jumbotron__conteudo jumbotron__conteudo-{{ categoria }}">
        <div class="jumbotron__icone">
          <img class="icone-asp" src="assets/img/fotos/logos/asp.gif" *ngIf="categoria==='asp'" />
          <span class="fa-brands fa-angular" *ngIf="categoria==='angular'"></span>
          <span class="fa-brands fa-angular" *ngIf="categoria==='angularjs'"></span>
          <span class="fa-brands fa-css3" *ngIf="categoria==='css'"></span>
          <img src="assets/img/fotos/logos/c-sharp-branco.gif" width="200px" *ngIf="categoria==='dotnet'" />
          <img src="assets/img/fotos/logos/flutter.svg" width="200px" *ngIf="categoria==='flutter'">
          <span class="fa-brands fa-html5" *ngIf="categoria==='html'"></span>
          <span class="fa-brands fa-js" *ngIf="categoria==='javascript'"></span>
          <span class="fa-brands fa-react" *ngIf="categoria==='react'"></span>
          <i class="fa-brands fa-vuejs" *ngIf="categoria==='vue'"></i>
        </div>
        <div class="jumbotron__titulo">
          <h1>Um titulo qualquer...</h1>
          <h2>Complementando o titulo 1.</h2>
        </div>
         <div class="jumbotron__dados">
          <ng-container>
            <span class="fa-solid fa-calendar-days icon"></span> 01 de janeiro de 2020
            <span class="icon2" aria-hidden="true"> | </span>
          </ng-container>
          <ng-container>
            <span class="fa-solid fa-pen-to-square icon"></span>editado em: 01 de janeiro de 2020
            <span class="icon2" aria-hidden="true"> | </span>
          </ng-container>
          <ng-container>
            <span class="fa-solid fa-stopwatch icon"></span>15 min de leitura
          </ng-container>
        </div>
        <div class="jumbotron__compartilhamento">
          <ul class="jumbotron__list">
            <li>
              <a href="#" target="_blank">
                <span class="icon socicon-youtube" aria-hidden="true"></span>
                <span class="title">YouTube</span>
              </a>
            </li>
            <!-- <li>
              <a href="#" target="_blank">
                <span class="icon socicon-facebook" aria-hidden="true"></span>
                <span class="title">Facebook</span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <span class="icon socicon-twitter" aria-hidden="true"></span>
                <span class="title">Twitter</span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <span class="icon socicon-instagram" aria-hidden="true"></span>
                <span class="title">Instagran</span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <span class="icon socicon-linkedin" aria-hidden="true"></span>
                <span class="title">LinkedIn</span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <span class="icon socicon-github" aria-hidden="true"></span>
                <span class="title">Github</span>
              </a>
            </li>

            <li>
              <a href="#" target="_blank">
                <span class="icon socicon-rss" aria-hidden="true"></span>
                <span class="title">RSS</span>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </gd-centered-panel>
  </div>
  <div class="jumbotron__fundo {{ categoria }}">
<!-- ~çklçkç~kl -->
  </div>
</div>
