<div class="admin">
  <aside class="admin-aside">
    <jt-menu-admin></jt-menu-admin>
  </aside>
  <section class="admin-main">
    <router-outlet></router-outlet>
    <!-- <h1 class="admin-titulo">Dashboard</h1>
    <jt-box-num-seguidores></jt-box-num-seguidores>
    <jt-box-num-posts></jt-box-num-posts>
    <jt-box-num-likes></jt-box-num-likes>
    <jt-box-num-visualizacao></jt-box-num-visualizacao>
    <jt-box-comentarios-recentes></jt-box-comentarios-recentes>
    <jt-grafico-num-visitantes></jt-grafico-num-visitantes>
    <jt-lista-mais-compartilhados-social-media></jt-lista-mais-compartilhados-social-media>
    <jt-box-artigos-recentes></jt-box-artigos-recentes>
    <jt-box-sistemas-operacionais></jt-box-sistemas-operacionais> -->
  </section>
</div>
