@import "../../../styles/styles.scss";

:host ::ng-deep {
  .jt__artigos {
    // @include scaffolding-card;
    margin-bottom: .5rem;
  }
}

.sobre {
  column-gap: 6rem;
  display: grid;
  grid-template-areas:
    "jumbotrom jumbotrom"
    "article aside";
  grid-template-columns: 1fr 22rem;

  &__box {
    @include scaffolding-card;
    padding: 1rem 2rem 2rem 2rem !important;
  }

  &__missao-visao-valores{
    border: solid 1px #000;
    display: grid;
    grid-template-areas: 'missao visao valores';
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__missao {
    grid-area: missao;
  }

  &__visao {
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    grid-area: visao;
  }

  &__valores {
    grid-area: valores;
  }
}


