.sobre {
  column-gap: 6rem;
  display: grid;
  grid-template-areas:
    "jumbotrom jumbotrom"
    "article aside";
  grid-template-columns: 1fr 22rem;

  &__missao-visao-valores{
    border: solid 1px #000;
    // column-gap: 2rem;
    display: grid;
    grid-template-areas: 'missao visao valores';
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__missao {
    grid-area: missao;
    // border: solid 1px #000;
  }

  &__visao {
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    grid-area: visao;

  }

  &__valores {
    grid-area: valores;
  }
}

jt-jumbotron {
  grid-area: jumbotrom;
}

article {
  grid-area: article;
}

aside {
  grid-area: aside;
  margin-top: 23rem;
  max-width: 21rem;
  width: 100%;
}
