.box-busca {
  max-width: 22rem;
  width: 100%;
}

input {
  border-radius: 6px;
  height: 38px;
  max-width: 20rem;
  padding: 0 1rem;
  width: 100%;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}
