.box-busca {
  width: 100%;
  max-width: 22rem;

}

input {
  border-radius: 6px;
  height: 38px;
  max-width: 20rem;
  padding: 0 1rem;
  width: 100%;
}

h2 {
  border-bottom: 1px solid #000;
  margin-bottom: .5rem;
}
