<article
  class="sobre"
  [class.gd__ligth]="theme === 'ligth'"
  [class.gd__dark]="theme === 'dark'"
  [class.gd__contrast]="theme === 'contrast'">
  <gd-breadcrumb [breadcrumbsItem]="breadcrumbsItem"></gd-breadcrumb>
  <blockquote>
    <span class="manuscrito">“Se eu vi mais longe, foi porque estava sobre os ombros de gigantes”</span>
    - Sir Isaac Newton
  </blockquote>

  <h2>Sobre o site</h2>
  <div class="sobre__missao-visao-valores">
    <section class="sobre__missao">
      <h2>Missão</h2>
      <p>Compartilhar conhecimento técnico e ajudar na formação dos novos desenvolvedores.</p>
    </section>

    <section class="sobre__visao">
      <h2>Visão</h2>
      <p>
        Ser referência no ensino de técnicas e conceitos complexos para os desenvolvedores da forma mais simples possível.
      </p>
    </section>

    <section class="sobre__valores">
      <h2>Valores</h2>
      <ul>
        <li>O mundo já é complexo. A simplicidade é fundamental.</li>
        <li>Porque sim não é resposta. “Ainda não sei” é uma resposta muito melhor.</li>
        <li>Apresentar a melhor versão de nós mesmos, todos os dias</li>
        <li>Não existe pergunta boba. Existe bobo que não pergunta.</li>
        <li>XGH aqui não</li>
      </ul>
    </section>
  </div>

  <section class="sobre__box sobre__box2">
    <h2>Sobre o autor</h2>

    <p>lorem ipsum...</p>
  </section>
</article>
