@import "../../../styles/styles.scss";

.blog {
  @include media-down($gd-media-tablet-maxwidth - 1) {
    display: grid;
    grid-template-areas:
      'jumbotron'
      'main'
      'aside';
  }

  @include media-up($gd-media-tablet-maxwidth) {
    column-gap: 1rem;
    display: grid;
    grid-template-areas:
    'jumbotron jumbotron'
    'main aside';
    grid-template-columns: 1fr 25rem;
    row-gap: 1.6rem;
  }

  &__jumbotron {
    grid-area: jumbotron;
  }

  &__main {
    @include scaffolding-card;
    grid-area: main;
    height: 100%;

    &-transparente {
      border: none !important;
      grid-area: main;
      height: 100%;
      z-index: 1;
    }
  }

  &__aside {
    @include scaffolding-card;
    grid-area: aside;
    height: 100%;
  }
}


.gd__ligth {
  &.blog {
    .blog {
    }
  }
}

.gd__dark {
  &.blog {
    .blog {
      &__aside, &__main {
        background-color: $gd-colordark-gray-900;
        color: $gd-color-offwhite;
      }
    }
  }
}

.gd__contrast {
  &.blog {
    .blog {
      &__aside, &__main {
        background-color: $gd-color-black;
      }
    }
  }
}
