.acessibilidade-page {
  display: grid;
  grid-template-areas:
    "jumbotrom"
    "article";
  // position: relative;
  column-gap: 6rem;
  grid-template-columns: 1fr;

  &__citacao{
    border: solid 1px;
    border-left: solid 0.5rem;
    font-size: 2rem;
    margin: 2rem 0 1.5rem;
    padding: 1rem 2rem;
  }
}

jt-jumbotron {
  grid-area: jumbotrom;
}

article {
  grid-area: article;
}

// aside {
//   grid-area: aside;
//   margin-top: 23rem;
//   max-width: 21rem;
//   width: 100%;
// }
