@import "../../../styles/styles.scss";

:host ::ng-deep {
  .jt__artigos {
    margin-bottom: -1rem;
  }
  // .jt {
  //   margin-bottom: 2rem;
  // }
}

.acessibilidade-page {
  display: grid;
  grid-template-areas:
    "jumbotrom"
    "article";
  column-gap: 6rem;
  grid-template-columns: 1fr;

  &-box {
    @include scaffolding-card;
    margin-bottom: 1.5rem !important;

    @include media-down($gd-media-tablet-maxwidth) {
      display: block;
      padding: 1rem;
      overflow: hidden;
      width: calc(100vw - 2rem);
      margin-bottom: 0.25rem;
    }

    @include media-up($gd-media-tablet-maxwidth) {
      padding: 1rem 2rem;
    }
  }
}

jt-jumbotron {
  grid-area: jumbotrom;
}

article {
  grid-area: article;
  z-index: 1;
}

aside {
  grid-area: aside;
}

