.categoria {
  display: grid;
  grid-template-areas:
    "jumbotrom jumbotrom"
    "article aside";
  // position: relative;
  column-gap: 6rem;
  grid-template-columns: 1fr 22rem;

  &__artigos{
    grid-area: article;
  }
}

.semCategoria{
  display: block;
  margin-top: 1.5rem;
}

jt-jumbotron {
  grid-area: jumbotrom;
}




aside {
  grid-area: aside;
  margin-top: 23rem;
  max-width: 21rem;
  width: 100%;
}
