<div class="jt">
  <section class="jt__artigos">
    <jt-jumbotron
      [titulo]="dadosArtigo?.nome"
      [categoria]="dadosArtigo?.nome"
      [compartilharBox]="false"
    ></jt-jumbotron>

    <ng-container *ngFor="let item of artigosDaCategoria">
      <h2 *ngIf="item.subcategoria !== 'Sem categoria'">{{ item.subcategoria }}</h2>
      <ng-container *ngFor="let artigo of item.artigos; let i = index">
        <jt-box-artigo
          [class.semCategoria]="item.subcategoria === 'Sem categoria' && i === 0"
          [artigo]="artigo"
          >
        </jt-box-artigo>
      </ng-container>
    </ng-container>

  </section>

  <aside *ngIf="categorias && ultimosArtigos">
    <jt-box-busca></jt-box-busca>
    <!-- |{{ dadosCategoria?.categoria | json }}| -->
    <jt-box-categorias
      [categorias]="categorias"
      [categoriaSelecionada]="dadosArtigo?.nome | lowercase"
    ></jt-box-categorias>
    <jt-siga-nos></jt-siga-nos>
    <jt-ultimos-posts [ultimosArtigos]="ultimosArtigos" [categorias]="categorias"></jt-ultimos-posts>
  </aside>
</div>
