<div class="categoria">
  <section class="categoria__artigos">
    <jt-jumbotron
      [titulo]="dadosCategoria?.nome"
      [categoria]="dadosCategoria?.nome"
      [compartilharBox]="false"
    ></jt-jumbotron>

    <h2>Subcategoria</h2>
    <jt-box-artigo></jt-box-artigo>
  </section>

  <aside *ngIf="categorias && ultimosArtigos">
    <jt-box-busca></jt-box-busca>
    <!-- |{{ dadosCategoria?.categoria | json }}| -->
    <jt-box-categorias
      [categorias]="categorias"
      [categoriaSelecionada]="dadosCategoria?.categoria"
    ></jt-box-categorias>
    <jt-siga-nos></jt-siga-nos>
    <jt-ultimos-posts [ultimosArtigos]="ultimosArtigos"></jt-ultimos-posts>
  </aside>
</div>
