@import 'base/typography';
$normalized_font_family: 'Roboto';
$title_font_family: 'Titillium Web';

@import '../../../guide-dog/src/lib/styles/gd.scss';

jt-root {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

@include media-down(var(--gd-min-content-box)) {
  main * {
    max-width: calc(100vw - 40px);
  }
}


