.artigo {
  display: grid;
  grid-template-areas:
    "jumbotrom jumbotrom"
    "article aside";
  // position: relative;
  column-gap: 6rem;
  grid-template-columns: 1fr 22rem;
}

jt-jumbotron {
  grid-area: jumbotrom;
}

article {
  grid-area: article;
}

aside {
  grid-area: aside;
  max-width: 22rem;
  width: 100%;
}
