<div class="artigo" *ngIf="dadosArtigo">
  <article>
    <jt-jumbotron categoria="asp"></jt-jumbotron>
    <!-- <pre style="border: solid 1px red;">
      {{ dadosArtigo$ | async | json  }}
    </pre>
    <br />

    <hr>
    <div>{{ dadosArtigo$ | async }}</div>
    <hr>

    <div [innerText]="(dadosArtigo$ | async)?.conteudoArtigo"></div>

    {{(dadosArtigo$ | async)?.conteudoArtigo}} -->
    <div [innerHtml]="dadosArtigo.conteudoArtigo"></div>
    <!-- <ng-content [innerHtml]="dadosArtigo"></ng-content> -->



    <jt-box-outros-artigos [listaArtigoSerie]="listaArquivoSerie"></jt-box-outros-artigos>
    <jt-box-compartilhe></jt-box-compartilhe>
    <jt-autor></jt-autor>
  </article>

  <aside *ngIf="categorias && ultimosArtigos">
    <jt-box-busca></jt-box-busca>
    <jt-box-categorias [categorias]="categorias" [categoriaSelecionada]="dadosArtigo.categoria"></jt-box-categorias>
    <jt-siga-nos></jt-siga-nos>
    <jt-ultimos-posts [ultimosArtigos]="ultimosArtigos"></jt-ultimos-posts>
  </aside>
</div>
