<div class="jt" *ngIf="dadosArtigo">
  <article class="jt__artigos">
    <jt-jumbotron
      [titulo]="dadosArtigo.titulo"
      [subtitulo]="dadosArtigo.subtitulo"
      [dataCriacao]="dadosArtigo.dataCriacao"
      [dataEdicao]="dadosArtigo.dataEdicao"
      [tempoLeitura]="dadosArtigo.tempoLeitura"
      [categoria]="categoriaArtigo"></jt-jumbotron>
    <div class="content" [innerHtml]="dadosArtigo.conteudoArtigo"></div>
    <jt-box-outros-artigos [listaArtigoSerie]="listaArquivoSerie" [artigoAtual]="dadosArtigo.titulo"></jt-box-outros-artigos>
    <jt-box-compartilhe></jt-box-compartilhe>
    <jt-autor [autor]="dadosAutor"></jt-autor>
  </article>

  <aside *ngIf="categorias && ultimosArtigos">
    <jt-box-busca></jt-box-busca>
    <jt-box-categorias [categorias]="categorias" [categoriaSelecionada]="categoriaArtigo"></jt-box-categorias>
    <jt-siga-nos></jt-siga-nos>
    <jt-ultimos-posts [ultimosArtigos]="ultimosArtigos" [categorias]="categorias"></jt-ultimos-posts>
  </aside>
</div>
