<section class="ultimos-posts">
  <h2>Ultimos posts</h2>
  <ul class="ultimos-posts__list">
    <li>
      <article class="ultimos-posts__artigo" role="link" [routerLink]="'/'">
        <div class="ultimos-posts__thumb angular">

          <img class="icone-asp" src="assets/img/fotos/logos/asp.gif" />
          <!-- <span class="ultimos-posts__icone fa-brands fa-angular"></span> -->
          <!--
          <span class="fa-brands fa-angular"></span>
          <span class="ultimos-posts__icone fa-brands fa-css3"></span>
        -->
        <!--
          <img class="icone-c-sharp" src="assets/img/fotos/logos/c-sharp-branco.gif" />
          <img class="icone-flutter" src="assets/img/fotos/logos/flutter.svg" />
          <span class="ultimos-posts__icone fa-brands fa-html5"></span>
          <span class="ultimos-posts__icone fa-brands fa-js"></span>
          <span class="ultimos-posts__icone fa-brands fa-react"></span>
          <span class="ultimos-posts__icone fa-brands fa-vuejs"></span> -->
        </div>
        <h3 class="ultimos-posts__titulo">
          Artigo 1Artigo 1Artigo Artigo 1Artigo 1ArtigoArtigo 1Artigo
          1ArtigoArtigo 1Artigo 1Artigo
        </h3>
        <div class="ultimos-posts__detalhes">
          <span class="fa-solid fa-calendar-days"></span> 22/05/2022
          <span class="pipe">|</span>
          <span class="fa-solid fa-stopwatch"></span> 15 min
        </div>
      </article>
    </li>
  </ul>
</section>
