<section class="ultimos-posts">
  <h2>Ultimos posts</h2>
  <ul class="ultimos-posts__list">
    <li>
      <article class="ultimos-posts__artigo" role="link" [routerLink]="'/'">
        <div class="ultimos-posts__thumb">Tumb</div>
        <h3 class="ultimos-posts__titulo"> Artigo 1Artigo 1Artigo Artigo 1Artigo 1ArtigoArtigo 1Artigo 1ArtigoArtigo 1Artigo 1Artigo   </h3>
        <div class="ultimos-posts__detalhes"><span class="fa-solid fa-calendar-days"></span> 5 de mai. de 2022 | <span class="fa-solid fa-stopwatch"></span> 15 min</div>
      </article>
    </li>
  </ul>
</section>
