:host ::ng-deep {
  gd-header {
    .fa-solid.fa-code {
      font-size: 1.4rem;
      margin-right: .5rem;
    }
  }


}

div {
  min-width: 250px;
  max-width: 100vw;
  // overflow: hidden;
  main * {
    max-width: calc(100vw - 40px);
  }
}
