<div class="app-container">
  <gd-acessibility-bar></gd-acessibility-bar>
  <gd-header [navConfig]="menu">
    <div class="grid">
      <span class="logo"></span>
      <span class="titulo">JonasTorres<span class="dev">.dev</span></span>
    </div>
  </gd-header>
  <gd-centered-panel class="app-container__central">
    <div class="app-container-conteudo">
      <router-outlet></router-outlet>
    </div>
  </gd-centered-panel>
</div>
<gd-footer>
  teste
</gd-footer>
<p-toast position="bottom-left"></p-toast>


