@import "../../../guide-dog/src/lib/styles/gd.scss";

:host ::ng-deep {
  gd-header {
    .fa-solid.fa-code {
      font-size: 1.4rem;
      margin-right: 0.5rem;
    }
  }

  gd-centered-panel.app-container__central {
    .gd-center-box {
      @include media-down($gd-media-tablet-maxwidth) {
        padding: 0;
      }
    }
  }
}

.app-container {
  background-color: $gd-colorligth-gray-100;
  max-width: 100vw;
  min-width: 250px;

  main * {
    max-width: calc(100vw - 40px);
  }
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
}

.titulo {
  align-self: center;
  font-family: "OoohBaby", Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  margin-left: 0.25rem;
  margin-top: -6px;
}

.dev {
  font-family: "Tomorrow", mono;
  font-size: 0.85rem;
  font-weight: 400;
  padding-left: 0.125rem;
}

.logo {
  background-image: url("/assets/img/fotos/logos/jonastorres-dev.gif");
  background-size: 2.25rem 2.25rem;
  display: inline-block;
  height: 2.25rem;
  margin-right: 0.25rem;
  margin-top: -12px;
  width: 2.25rem;
}
