<section class="box-compartilhe">
  <h2 class="box-compartilhe__title">Compartilhe:</h2>
  <ul class="box-compartilhe__list">
    <li>
      <a href="#" target="_blank">
        <span class="icon socicon-youtube" aria-hidden="true"></span>
        <span class="title">YouTube</span>
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <span class="icon socicon-facebook" aria-hidden="true"></span>
        <span class="title">Facebook</span>
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <span class="icon socicon-twitter" aria-hidden="true"></span>
        <span class="title">Twitter</span>
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <span class="icon socicon-instagram" aria-hidden="true"></span>
        <span class="title">Instagran</span>
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <span class="icon socicon-linkedin" aria-hidden="true"></span>
        <span class="title">LinkedIn</span>
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <span class="icon socicon-github" aria-hidden="true"></span>
        <span class="title">Github</span>
      </a>
    </li>

    <li>
      <a href="#" target="_blank">
        <span class="icon socicon-rss" aria-hidden="true"></span>
        <span class="title">RSS</span>
      </a>
    </li>
  </ul>
</section>
