@import "../../../styles/styles.scss";

.box-compartilhe {
  margin-top: 1rem;
  @include box-shadow;

  @include media-down($gd-media-phone-maxwidth) {
    margin: .5rem .25rem;
    border-radius: 8px;
  }

  @include media-between(
    $gd-media-phone-maxwidth + 1,
    $gd-media-tablet-maxwidth - 1
  ) {
  }

  @include media-up($gd-media-tablet-maxwidth) {
    border-radius: 8px;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__title {
    @include media-down($gd-media-tablet-maxwidth) {
      display: block;
      padding-top: 1rem;
      text-align: center;
      margin: 0 !important;
    }

    @include media-up($gd-media-tablet-maxwidth) {
      display: inline-block;
      margin: 0 2.5rem;
      margin-right: 1.5rem;
    }
  }

  &__list {
    text-align: center;


    @include media-down($gd-media-tablet-maxwidth) {
      display: block;
      margin-bottom: 0;
      padding: 0 0 1rem 0;
    }

    @include media-up($gd-media-tablet-maxwidth) {
      display: inline-block;
      padding: 0;
    }

    li {
      display: inline-block;
      position: relative;
      transform: translateY(0px);
      transition: all 0.3s;

      &:hover {
        transform: translateY(-11px);
      }

      &:hover .icon {
        transform: scale(1.15);
      }

      &:hover .title {
        transform: scale(1);
      }
    }
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $gd-color-white;;
    margin: 0 0.5rem;
    text-decoration: none;
  }
}

.icon {
  font-size: 1.5rem;
}

.title {
  display: inline-block;
  left: -28px;
  position: absolute;
  transform: scale(0);
  text-align: center;
  top: 36px;
  width: 100px;
}

span {
  display: inline-block;
  transition: all 0.3s;
}


.gd__ligth {
  &.box-compartilhe {
    background-color: $gd-colorligth-secondary-500;
    border: none;
    color: $gd-color-white;
  }
}

.gd__dark {
  &.box-compartilhe {
    background-color: $gd-colorligth-secondary-500;
    border: none;
    color: $gd-color-white;
  }
}

.gd__contrast {
  &.box-compartilhe {
    background-color: $gd-color-black;
    border: solid 1px $gd-color-white;
    box-shadow: 0 1px 1px -1px rgb(0 0 0 / 20%), 0 2px 3px rgb(255 255 255 / 14%), 0 1px 9px rgb(255 255 255 / 69%);
    color: $gd-color-white;

    a,
    a:link,
    a:visited,
    a:hover {
      color: $gd-color-darkmode-interative;
    }

    a:active {
      color: $gd-color-white;
    }
  }
}
