@import "../../../styles/styles.scss";

.box-compartilhe {
  background-color: $gd-colorligth-primary-200;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 1rem;

  &__title {
    display: inline-block;
    margin: 0 2.5rem;
    margin-right: 1.5rem;
  }

  &__list {
    display: inline-block;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      position: relative;
      transform: translateY(0px);
      transition: all 0.3s;

      &:hover {
        transform: translateY(-11px);
      }

      &:hover .icon {
        transform: scale(1.15);
      }

      &:hover .title {
        transform: scale(1);
      }
    }
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #fff;
    margin: 0 0.5rem;
    text-decoration: none;
  }
}

.icon {
  font-size: 1.5rem;
}

.title {
  display: inline-block;
  left: -28px;
  position: absolute;
  transform: scale(0);
  text-align: center;
  top: 36px;
  width: 100px;
}

span {
  display: inline-block;
  transition: all 0.3s;
}
