<h1>Dashboard</h1>
<div class="dashboard">
  <jt-box-num-seguidores></jt-box-num-seguidores>
  <jt-box-num-posts></jt-box-num-posts>
  <jt-box-num-likes></jt-box-num-likes>
  <jt-box-num-visualizacao></jt-box-num-visualizacao>
  <jt-box-comentarios-recentes></jt-box-comentarios-recentes>
  <jt-grafico-num-visitantes></jt-grafico-num-visitantes>
  <jt-lista-mais-compartilhados-social-media></jt-lista-mais-compartilhados-social-media>
  <jt-box-artigos-recentes></jt-box-artigos-recentes>
  <jt-box-sistemas-operacionais></jt-box-sistemas-operacionais>
</div>
