<h1>Dashboard</h1>
<div class="dashboard">
  <jt-box-num-seguidores></jt-box-num-seguidores>
  <jt-box-num-posts></jt-box-num-posts>
  <jt-box-num-likes></jt-box-num-likes>
  <jt-box-num-visualizacao></jt-box-num-visualizacao>
  <jt-comentarios-recentes></jt-comentarios-recentes>

  <jt-grafico-num-visitantes></jt-grafico-num-visitantes>
  <jt-lista-compartilhamentos></jt-lista-compartilhamentos>


  <!-- <jt-grafico-dispositivos></jt-grafico-dispositivos>
    <jt-grafico-desktop-so></jt-grafico-desktop-so>

    <jt-grafico-desktop-navegadores></jt-grafico-desktop-navegadores>
    <jt-grafico-mobile-so></jt-grafico-mobile-so>
    <jt-grafico-mobile-navegadores></jt-grafico-mobile-navegadores> -->

    <jt-artigos-recentes></jt-artigos-recentes>
    <jt-grafico-dispositivos></jt-grafico-dispositivos>
</div>
