@import "../../../../../../../blog/src/styles/styles.scss";

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-areas:
      "titulo titulo titulo titulo titulo titulo"
      "box-num-seguidores box-num-posts box-num-likes box-num-visualizacao box-comentarios-recentes box-comentarios-recentes"
      "grafico-num-visitantes grafico-num-visitantes  grafico-num-visitantes lista-mais-compartilhados-social-media box-comentarios-recentes box-comentarios-recentes"
      // "grafico-dispositivos grafico-dispositivos grafico-dispositivos grafico-dispositivos grafico-dispositivos grafico-dispositivos "
      // "grafico-dispositivos grafico-dispositivos box-sistemas-operacionais  box-sistemas-operacionais box-comentarios-recentes box-comentarios-recentes"
      // "grafico-desktop-navegadores grafico-desktop-navegadores grafico-mobile-navegadores grafico-mobile-navegadores grafico-mobile-so grafico-mobile-so" //grafico-mobile-so grafico-mobile-so
      "box-artigos-recentes box-artigos-recentes box-artigos-recentes box-artigos-recentes grafico-dispositivos grafico-dispositivos";
    // padding-bottom: 1.6rem;
}


jt-box-num-seguidores {
  grid-area: box-num-seguidores;
}

jt-box-num-posts {
  grid-area: box-num-posts;
}

jt-box-num-likes {
  grid-area: box-num-likes;
}

jt-box-num-visualizacao {
  grid-area: box-num-visualizacao;
}

jt-comentarios-recentes {
  grid-area: box-comentarios-recentes;
}

jt-grafico-num-visitantes {
  grid-area: grafico-num-visitantes;
}

jt-lista-compartilhamentos {
  grid-area: lista-mais-compartilhados-social-media;
}

jt-artigos-recentes {
  grid-area: box-artigos-recentes;
}

jt-grafico-desktop-so {
  grid-area: box-sistemas-operacionais;
}

jt-grafico-dispositivos {
  grid-area: grafico-dispositivos;
}

jt-grafico-desktop-navegadores {
  grid-area: grafico-desktop-navegadores;
}

jt-grafico-mobile-so {
  grid-area: grafico-mobile-so;
}

jt-grafico-mobile-navegadores {
  grid-area: grafico-mobile-navegadores;
}
