@import "../../../styles/styles.scss";

:host ::ng-deep {
  .jt__artigos {
    margin-bottom: .5rem;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 188px);

  &-box {
    @include scaffolding-card;
    z-index: 1;
    // border: solid 2px $gd-setcolorligth-primary;;
    // background-color: $gd-colorligth-secondary-500;
    // color: #fff;
    border-radius: 8px;
    padding: 2rem !important;
    box-sizing: border-box;
    position: relative;
    max-width: 500px;
    width: 100%;

    @include media-down($gd-media-tablet-minwidth) {
      margin: 0 2rem;
      padding: 1rem !important;
    }

    &-botao {
      text-align: center;
    }
  }

  @include media-up($gd-media-tablet-maxwidth) {
    padding: 1rem 2rem 0.5rem 2rem;
  }

  h2 {
    font-size: 1.7rem;
    margin: 0 0 1rem 0;
  }
}
