<article class="artigo-box" [class.artigo-box__active]="dadosCarregados" [routerLink]="[artigo?.url]">
  <section
    class="{{ artigo?.url.split('/')[2] }}"
    [class.artigo-box__capa.active]="dadosCarregados"
    [class.artigo-box__capaloading]="!dadosCarregados"
    [class.loading]="!dadosCarregados">
    <span class="fa-brands fa-angular" *ngIf="dadosCarregados && artigo?.url.split('/')[2] === 'angular'"></span>
    <span class="fa-brands fa-angular" *ngIf="dadosCarregados && artigo?.url.split('/')[2] === 'angularjs'"></span>
    <span class="fa-solid fa-pen-ruler" *ngIf="dadosCarregados && artigo?.url.split('/')[2] === 'arquitetura'"></span>
    <span class="fa-brands fa-css3" *ngIf="dadosCarregados && artigo?.url.split('/')[2] === 'css'"></span>

    <img
      src="assets/img/fotos/logos/c-sharp-branco.gif"
      width="200px"
      *ngIf="dadosCarregados && artigo?.url.split('/')[2] === 'dotnet'" />
    <img
      src="assets/img/fotos/logos/flutter.svg"
      width="200px"
      *ngIf="dadosCarregados && artigo?.url.split('/')[2] === 'flutter'" />
    <span class="fa-brands fa-html5" *ngIf="dadosCarregados && artigo?.url.split('/')[2] === 'html'"></span>
    <span class="fa-brands fa-js" *ngIf="dadosCarregados && artigo?.url.split('/')[2] === 'js'"></span>

    <span class="fa-brands fa-react" *ngIf="dadosCarregados && artigo?.url.split('/')[2] === 'react'"></span>
    <span class="fa-brands fa-vuejs" *ngIf="dadosCarregados && artigo?.url.split('/')[2] === 'vue'"></span>
  </section>
  <div class="artigo-box__box-conteudo">
    <div class="artigo-box__ghost-box-titulo" *ngIf="!dadosCarregados">
      <div class="artigo-box__ghost-titulo loading"></div>
      <div class="artigo-box__ghost-subtitulo loading"></div>
      <div class="artigo-box__ghost-container-data">
        <span class="artigo-box__ghost-data loading"></span>
        <span class="artigo-box__ghost-tempo-leitura"></span>
      </div>
      <div>
        <p class="artigo-box__ghost-paragrafo loading"></p>
        <p class="artigo-box__ghost-paragrafo loading"></p>
        <p class="artigo-box__ghost-paragrafo loading"></p>
      </div>
    </div>
    <ng-container *ngIf="dadosCarregados">
      <section class="artigo-box__box-titulo">
        <h3 class="artigo-box__titulo">
          {{ artigo?.titulo }}
        </h3>
        <h4 class="artigo-box__subtitulo" *ngIf="artigo?.subtitulo">
          {{ artigo?.subtitulo }}
        </h4>
      </section>
      <section class="artigo-box__box-dados">
        <p class="artigo-box__dados">
          <span class="fa-solid fa-calendar-days"></span>
          {{ artigo?.dataCriacao | date: 'longDate':'':'pt-BR' }}
          <span class="pipe">|</span>
          <!-- <ng-container *ngIf="artigo?.dataEdicao">
            <span class="fa-solid fa-pen-to-square"></span>
            Ultima edição em:
            {{ artigo?.dataEdicao | date: 'longDate':'':'pt-BR' }}
            <span class="pipe">|</span>
          </ng-container> -->
          <span class="fa-solid fa-stopwatch"></span>
          {{ artigo?.tempoLeitura }} min de leitura
        </p>
        <p class="artigo-box__spoiler">
          {{ artigo?.conteudoArtigo | geraspoiler }}
        </p>
        <!-- <pre>{{ artigo | json }}</pre> -->
        <p class="artigo-box__box-leia-mais">
          <a class="artigo-box__leia-mais">
            Leia mais
            <span class="fa-solid fa-angles-right"></span>
          </a>
        </p>
      </section>
    </ng-container>
  </div>
</article>
