<article class="artigo-box">
  <section class="artigo-box__capa angular">
    <span class="artigo-box__icone fa-brands fa-html5"></span>
  </section>
  <div class="artigo-box__box-conteudo">
    <section class="artigo-box__box-titulo">
      <h3 class="artigo-box__titulo">
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem v
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem v
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem v
      </h3>
      <h4 class="artigo-box__subtitulo">
        Subtitulo
      </h4>
    </section>
    <section class="artigo-box__box-dados">
      <p class="artigo-box__dados">
        <span class="fa-solid fa-calendar-days"></span>/
        22/05/1981
        <span class="pipe">|</span>
        <ng-container>
          <span class="fa-solid fa-pen-to-square"></span>
          Ultima edição em: 22/05/1981
          <span class="pipe">|</span>
        </ng-container>
        <span class="fa-solid fa-stopwatch"></span>
        15 min de leitura
      </p>
      <p class="artigo-box__spoiler">
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem v
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem v
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
        suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem v
      </p>
      <p class="artigo-box__box-leia-mais">
        <a class="artigo-box__leia-mais">
          Leia mais
          <span class="fa-solid fa-angles-right"></span>
        </a>
      </p>
    </section>
  </div>
</article>
