@import "../../../../../styles/styles.scss";

.vitrine {
  @include media-down($gd-media-tablet-maxwidth) {
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  }

  &__grid {
    @include media-down($gd-media-phone-maxheight) {
      column-gap: 0rem;
      display: grid;
      row-gap: .5rem;
      grid-template-columns: 1fr;
    }

    @include media-between($gd-media-phone-maxheight, 60rem) {
      column-gap: 0.25rem;
      display: grid;
      gap: 0.25rem;
      grid-template-columns: 1fr 1fr;
    }

    @include media-between(60rem, $gd-media-tablet-maxwidth) {
      display: grid;
      gap: 0.25rem;
      column-gap: 0.25rem;
      grid-template-columns: 1fr 1fr 1fr !important;
    }

    @include media-up($gd-media-tablet-maxwidth) {
      display: block;
    }
  }

  &__titulo {
    @include media-down($gd-media-tablet-maxwidth) {
      margin: 0.5rem 0 1.25rem 0;
    }

    @include media-up($gd-media-tablet-maxwidth) {
      font-size: 1.75rem;
      margin: 0 0 0.5rem;
    }
  }
}


.gd__ligth {
  &.vitrine {
    color: $gd-color-black;
  }
}

.gd__dark {
  &.vitrine {
    color: $gd-color-black;
  }
}

.gd__contrast {
  &.vitrine {
    color: $gd-color-white;
  }
}
