@import "../../../../../../../blog/src/styles/styles.scss";

.menu-admin{
  &__link {
    &--ativo {
      background-color: $gd-colorligth-primary-50;
    }
  }
  &__link,
  &__link:link,
  &__link:visited{
    color: $gd-colorligth-primary-500;
    display: inline-block;
    font-size: 1.25rem;
    text-decoration: none;
    width: 100%;
  }
  &__link:hover {

  }
  &__link:active {

  }
}

ul {
  list-style: none;
  padding: 0;
}
