@import "../../../../../../../blog/src/styles/styles.scss";

.menu-admin{
  &__link {
    &--ativo {
      // background-color: $gd-colorligth-primary-50;
      font-weight: bold;
    }
  }
  &__link,
  &__link:link,
  &__link:visited{
    // color: $gd-colorligth-primary-500;
    display: inline-block;
    font-size: 1.25rem;
    text-decoration: none;
    width: 100%;
  }
  &__link:hover {

  }
  &__link:active {

  }
}

ul {
  list-style: none;
  padding: 0;
}

.gd__ligth {
  .menu-admin{
    &__link {
      &--ativo {
        background-color: $gd-colorligth-primary-50;
      }
    }
    &__link,
    &__link:link,
    &__link:visited{
      color: $gd-colorligth-primary-500;
    }
    &__link:hover {

    }
    &__link:active {

    }
  }
}

.gd__dark {
  .menu-admin{
    &__link {
      &--ativo {
        background-color: $gd-colordark-gray-400;
      }
    }
    &__link,
    &__link:link,
    &__link:visited{
      color: $gd-color-offwhite;
    }
    &__link:hover {

    }
    &__link:active {

    }
  }
}

.gd__contrast {
  h2 {
    color: $gd-color-white !important;
  }
  .menu-admin{


    &__link {
      &--ativo {
        background-color: $gd-color-white !important;
        color: $gd-color-black !important;
      }
    }
    &__link,
    &__link:link,
    &__link:visited{
      color: $gd-color-darkmode-interative;
    }
    &__link:hover {

    }
    &__link:active {

    }
  }
}
