<nav
  class="menu-admin"
  [class.gd__ligth]="theme === 'ligth'"
  [class.gd__dark]="theme === 'dark'"
  [class.gd__contrast]="theme === 'contrast'">
  <h2>Navegação (Admin)</h2>
  <ul>
    <li>
      <a class="menu-admin__link" [routerLink]="['/admin/dashboard']" [routerLinkActive]="['menu-admin__link--ativo']"
        >Dashboard</a
      >
    </li>
    <li>
      <a class="menu-admin__link" [routerLink]="['/admin/artigos']" [routerLinkActive]="['menu-admin__link--ativo']"
        >Artigo</a
      >
    </li>
    <li>
      <a class="menu-admin__link" [routerLink]="['/admin/autores']" [routerLinkActive]="['menu-admin__link--ativo']"
        >Autor</a
      >
    </li>
    <li>
      <a class="menu-admin__link" [routerLink]="['/admin/categorias']" [routerLinkActive]="['menu-admin__link--ativo']"
        >Categoria</a
      >
    </li>
    <li>
      <a class="menu-admin__link" [routerLink]="['/admin/perfil-usuario']" [routerLinkActive]="['menu-admin__link--ativo']"
        >Perfil de Usuario</a
      >
    </li>
    <li>
      <a class="menu-admin__link" [routerLink]="['/admin/redes-sociais']" [routerLinkActive]="['menu-admin__link--ativo']"
        >Redes Sociais</a
      >
    </li>
    <li>
      <a class="menu-admin__link" [routerLink]="['/admin/usuarios']" [routerLinkActive]="['menu-admin__link--ativo']"
        >Usuarios</a
      >
    </li>
  </ul>
</nav>
