@import "../../../../../../../blog/src/styles/styles.scss";

.menu-admin{
  &__link {
    &--ativo {
      background-color: $gd-colorligth-primary-50;
      font-weight: bold;
    }
  }
  &__link,
  &__link:link,
  &__link:visited{
    color: $gd-colorligth-primary-500;
    display: inline-block;
    font-size: 1.25rem;
    text-decoration: none;
    width: 100%;
  }
  &__link:hover {

  }
  &__link:active {

  }
}

ul {
  list-style: none;
  padding: 0;
}

.gd__ligth {
  .menu-admin {
    // color: $gd-colorligth-primary-600;
    // margin: 0;
  }
}

.gd__dark {
    .menu-admin {
      background-color: $gd-colordark-gray-800;
      color: $gd-color-offwhite;
    }
}

.gd__contrast {
  .menu-admin {
    // color: $gd-colorligth-primary-600;
    // margin: 0;
  }
}
