<nav>
  <h2>Navegação (Admin)</h2>
  <ul>
    <li>
      <a [routerLink]="['/admin']" [routerLinkActive]="['is-active']">Dashboard</a>
    </li>
    <li>
      <a [routerLink]="['/admin/artigos']" [routerLinkActive]="['is-active']">Artigo</a>
    </li>
    <li>
      <a [routerLink]="['/admin/autores']" [routerLinkActive]="['is-active']">Autor</a>
    </li>
    <li>
      <a [routerLink]="['/admin/categorias']" [routerLinkActive]="['is-active']">Categoria</a>
    </li>
    <li>
      <a [routerLink]="['/admin/perfil-usuarios']" [routerLinkActive]="['is-active']">Perfil de Usuario</a>
    </li>
    <li>
      <a [routerLink]="['/admin/redes-sociais']" [routerLinkActive]="['is-active']">Redes Sociais</a>
    </li>
    <li>
      <a [routerLink]="['/admin/usuarios']" [routerLinkActive]="['is-active']">Usuarios</a>
    </li>
  </ul>
</nav>
