@import "../../../../../styles/styles.scss";

.categoria {
  &__artigos{
    &-box {
      h2 {
        font-size: 1.7rem;
        margin: 0 0 1rem 0;
      }
    }
  }
}

.semCategoria{
  display: block;
  margin-top: 1.5rem;
}

gd-breadcrumb {
  @include media-between(
    $gd-media-phone-maxwidth + 1,
    $gd-media-tablet-maxwidth - 1
  ) {
    display: block;
    margin-left: 1rem;
  }
}


