@import "../../../styles/styles.scss";

.box-busca {
  margin-bottom: 1rem;
  max-width: 22rem;
  width: 100%;
}

input {
  border-radius: 6px;
  height: 38px;
  max-width: 19rem;
  padding: 0 1rem;
  width: 100%;
}

h2 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}
