<section class="box-outros-artigos-botoes">
  <button class="botaoVoltar botaoAcao">
    <span class="fa-solid fa-chevron-left"></span>
    <span class="label">Artigo anterior</span>
  </button>
  <button class="botaoAvancar botaoAcao">
    <span class="label">Próximo artigo</span>
    <span class="fa-solid fa-chevron-right"></span>
  </button>
</section>

<section class="box-outros-artigos">
  <h2 class="box-outros-artigos__titulo">Outros artigos da série "Descomplicando conceitos de animação"</h2>
  <ul class="box-outros-artigos__lista">
    <li class="box-outros-artigos__item">
      <a class="box-outros-artigos__link" routerLink="">
        <span class="box-outros-artigos__link-label">Categoria 1</span>
      </a>
    </li>
    <li class="box-outros-artigos__item">
      <a class="box-outros-artigos__link" routerLink="">
        <span class="box-outros-artigos__link-label">Categoria 2</span>
      </a>
    </li>
    <li class="box-outros-artigos__item">
      <a class="box-outros-artigos__link" routerLink="">
        <span class="box-outros-artigos__link-label">Categoria 3</span>
      </a>
    </li>
    <li class="box-outros-artigos__item">
      <a class="box-outros-artigos__link" routerLink="">
        <span class="box-outros-artigos__link-label">Categoria 4</span>
      </a>
    </li>
    <li class="box-outros-artigos__item">
      <a class="box-outros-artigos__link" routerLink="">
        <span class="box-outros-artigos__link-label">Categoria 5</span>
      </a>
    </li>
  </ul>
</section>

