@import "../../../../../../../blog/src/styles/styles.scss";

.box-num-posts {
  border-radius: 8px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "icone numero"
    "icone rotulo";
  padding: .25rem .25rem .5rem .25rem;

  &__icone {
    align-self: center;
    font-size: 1.75rem;
    grid-area: icone ;
    justify-self: center;
  }

  &__numero {
    align-self: flex-end;
    font-size: 1.75rem;
    grid-area: numero;
    justify-self: center;
  }

  &__label {
    grid-area: rotulo;
    align-self: flex-start;
    justify-self: center;
  }
}


.gd__ligth {
  &.box-num-posts {
    background-color: $gd-colorligth-primary-50;
    border: solid 2px $gd-colorligth-primary-600;
    color: $gd-colorligth-primary-600;
  }
}

.gd__dark {
  &.box-num-posts {
    background-color: $gd-colordark-gray-500;
    border: solid 2px $gd-color-offwhite;
    color: $gd-color-offwhite;
  }
}

.gd__contrast {
  &.box-num-posts {
    background-color: $gd-colordark-gray-500;
    border: solid 2px $gd-color-offwhite;
    color: $gd-color-offwhite;
  }
}



