@import '../../../styles/styles.scss';

.siganos {
  padding: 1.5rem 0 0.5rem 0;

  @include media-down($gd-media-tablet-maxwidth) {
    @include box-shadow;
  }

  @include media-up($gd-media-tablet-maxwidth) {
    border-radius: 8px;
  }

  &__title {
    margin: 0;
    text-align: center;
  }

  &__list {
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      position: relative;
      transform: translateY(0px);
      transition: all 0.3s;

      &:hover {
        transform: translateY(-10px);
      }

      &:hover .icon {
        transform: scale(2);
      }

      &:hover .title {
        transform: scale(1);
      }
    }
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $gd-color-white;
    margin: 0 0.5rem;
    text-decoration: none;
  }
}

.icon {
  font-size: 1.5rem;
}

.title {
  display: inline-block;
  left: -28px;
  position: absolute;
  text-align: center;
  top: 36px;
  transform: scale(0);
  width: 100px;
}

span {
  display: inline-block;
  transition: all 0.3s;
}

.gd__ligth {
  &.siganos {
    background-color: $gd-colorligth-primary-300;
    border: none;
    color: $gd-color-white;
  }
}

.gd__dark {
  &.siganos {
    background-color: $gd-colorligth-primary-300;
    border: none;
    color: $gd-color-white;
  }
}

.gd__contrast {
  &.siganos {
    background-color: $gd-color-black;
    border: solid 1px $gd-color-white;
    color: $gd-color-white;

    a,
    a:link,
    a:visited,
    a:hover {
      color: $gd-color-darkmode-interative;
    }

    a:active {
      color: $gd-color-white;
    }
  }
}
