@import "../../../../../../../guide-dog/src/lib/styles/gd.scss";


h2 {
  margin: 0;
}

.autor {
  background-color: $gd-colorligth-primary-50;
  border-radius: 8px;
  display: grid;
  grid-template-areas:
    "foto nome"
    "foto cargo"
    "foto sobre";
  line-height: 1.8rem;
  margin: 1rem 0 2rem;
  padding: 1rem 2rem;

  &__foto {
    align-self: start;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px rgb(0 0 0 / 14%), 0 1px 18px rgb(0 0 0 / 12%);
    // border: solid 1px #000;
    border-radius: 8px;
    grid-area: foto;
    height: 150px;
    justify-self: center;
    margin-right: 2rem;
    overflow: hidden;
    width: 150px;

    img {
      // height: 152px;
      width: 154px;
    }
  }

  &__nome {
    font-family: $title_font_family;
    grid-area: nome;
  }

  &__cargo {
    grid-area: cargo;
    font-family: $title_font_family;
    font-size: 1.25rem;
    font-weight: bold;
  }

  &__sobre {
    grid-area: sobre;
    margin-top: 1.25rem;
  }
}
