<section class="lista-mais-compartilhados-social-media">
  <h2 class="lista-mais-compartilhados-social-media__titulo">Compartilhamentos</h2>
  <div class="lista-mais-compartilhados-social-media__container">
    <ol>
      <li>
        <section class="lista-mais-compartilhados-social-media__secao">
          <span class="lista-mais-compartilhados-social-media__icone fa-brands fa-facebook"></span>
          <span class="lista-mais-compartilhados-social-media__nome">Facebook</span>
          <span class="lista-mais-compartilhados-social-media__numero">800.000</span>
        </section>
      </li>
      <li>
        <section class="lista-mais-compartilhados-social-media__secao">
          <span class="lista-mais-compartilhados-social-media__icone fa-brands fa-facebook"></span>
          <span class="lista-mais-compartilhados-social-media__nome">Facebook</span>
          <span class="lista-mais-compartilhados-social-media__numero">8.8KK</span>
        </section>
      </li>
      <li>
        <section class="lista-mais-compartilhados-social-media__secao">
          <span class="lista-mais-compartilhados-social-media__icone fa-brands fa-facebook"></span>
          <span class="lista-mais-compartilhados-social-media__nome">Facebook</span>
          <span class="lista-mais-compartilhados-social-media__numero">80K</span>
        </section>
      </li>
    </ol>
    <p class="lista-mais-compartilhados-social-media__total">
      <span>Total: </span>
      <strong>800.000.000.000.000</strong>
    </p>
  </div>
</section>
