@import '../../../styles/styles.scss';

h2 {
  font-size: 1.75rem;

  @include media-down($gd-media-tablet-maxwidth) {
    margin: 0.5rem 0 0.5rem 0;
  }

  @include media-up($gd-media-tablet-maxwidth) {
    margin-bottom: 0.5rem;
  }
}

.ultimos-posts {
  @include media-down($gd-media-tablet-maxwidth) {
    @include scaffolding-card;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    @include media-down($gd-media-tablet-maxwidth) {
      margin: 0.5rem 0 0.5rem 0.5rem;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 0.5rem;
    }
  }

  &__artigo {
    background-color: $gd-colorligth-primary-50;
    border-radius: 8px;
    column-gap: 1rem;
    display: grid;
    grid-template-areas:
      'thumb titulo'
      'thumb detalhes';
    grid-template-columns: auto 1fr;
    overflow: hidden;
    padding: 0.5rem 0 0.5rem 0;
    transition: all 0.5s ease;

    @include media-down($gd-media-tablet-maxwidth) {
      margin: 0 0.5rem 0.5rem 0;
    }

    &:hover {
      background-color: $gd-colorligth-primary-50;
      box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px rgb(0 0 0 / 14%), 0 1px 18px rgb(0 0 0 / 12%);
      cursor: pointer;
      padding: 0.5rem;
      transform: scale(1.05);

      .ultimos-posts__thumb::after {
        transform: scale(1.1);
      }

      .ultimos-posts__icone {
        font-size: 3.5rem;
      }
    }
  }

  &__thumb {
    align-content: center;
    align-items: baseline;
    background-color: #808080;
    background: linear-gradient(150deg, rgba(124, 124, 124, 0.8) 0%, rgba(180, 180, 180, 1) 10%, rgba(0, 0, 0, 1) 89%);
    border: solid 1px #000;
    border-radius: 8px;
    color: $gd-color-white;
    display: grid;
    grid-area: thumb;
    height: 85px;
    justify-content: center;
    justify-items: baseline;
    margin: 0.25rem 0.25rem 0.25rem 0.75rem;
    position: relative;
    transition: all 0.5s ease;
    width: 85px;

    @include media-down($gd-media-tablet-maxwidth) {
      margin: 0.25rem 0.5rem 0.25rem 1rem;
    }

    &:after {
      background-image: url('/assets/img/backgrounds/circuit-board-white.svg');
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.1;
      position: absolute;
      transform: scale(0.75);
      transition: all 0.5s ease;
      top: 0;
      width: 100%;
    }

    .ultimos-posts__icone {
      font-size: 3rem;
      transition: all 0.5s ease;
    }
  }

  &__titulo {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    align-self: flex-end;
    display: -webkit-box !important;
    grid-area: titulo;
    margin: 0;
    margin-top: -5px;
    max-height: 64px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  &__detalhes {
    grid-area: detalhes;
    margin-top: 0.5rem;
  }

  &.gd__contrast {
    h2 {
      color: $gd-color-white;
    }

    .ultimos-posts{
      &__artigo {
        background-color: $gd-color-darkmode-interative;
        color: $gd-color-black;
      }

      &__thumb {
        background: $gd-color-white !important;
        color: $gd-color-black !important;
        overflow: hidden;

        &::after {
          background-image: url(/assets/img/backgrounds/circuit-board-black.svg);
          transform: scale(1);
        }
      }
    }
  }
}

.pipe {
  margin: 0 0.65rem;
}

.icone {
  &-asp {
    width: 95px;
  }

  &-c-sharp {
    width: 52px;
  }

  &-flutter {
    margin-top: -2px;
    width: 48px;
  }
}
