<div class="jt">
  <article class="jt__artigos">
    <jt-jumbotron
    titulo="Ihhhhh... Deu ruim."
    subtitulo="Bad, bad server. No donut for you."
    categoria="erro"></jt-jumbotron>
    <p>
     Infelizmente o servidor de nosso site está passando por alguma estabilidade. Por gentileza, tente recarregar a página ou acessar nossa página novamente dentro de alguns minutos.
    </p>
    <p>
      Caso você precise de alguma de alguma informação contida em nosso site de forma urgente, não entre em panico. Tente nos contactar por sinal de fumaça ou por teklefones de lata que estão sendo instalados por nossos habeis estagiários por toda a cidade.
      Saiba que, nossos especialistas, no momento estão tentando descobrir as possíveis causas do problema. As principais suspeitas são:
    </p>
   <ul>
    <li>Mineração de criptomoeda que sobrecarregou nosssos servidores</li>
    <li>O Estagiario está tentando rodar o Cyberpunk 2077 com o grafico no máximo</li>
    <li>A auditoria do Ellon Musk está rodando testes em nossos sistemas para uma possivel compra de nosso site.</li>
    <li>Pode ser que seja a do Bill Gates ou o Mark Zuckerberg (Invejosos)</li>
    <li>O ET Bilu está buscando conhecimento em nossos códigos</li>
    <li>Desligaram o servidor novamente para ligar a cafeteira....</li>
   </ul>
   <p>
    Caso você suspeite de alguma outra coisa, por favor, entre em contato através do email contato@jonastorres.dev.
   </p>
   <p>Desde já, te agradecemos a colaboração e pedimos as mais sinceras desculpas pela instabilidade em nosso site.</p>
   <p>Um forte abraço!</p>
   <p>Jonas Sene Torres</p>

    <!-- <jt-box-compartilhe></jt-box-compartilhe> -->
  </article>

  <aside>
    <jt-box-busca></jt-box-busca>
    <jt-box-categorias></jt-box-categorias>
    <jt-siga-nos></jt-siga-nos>
    <jt-ultimos-posts></jt-ultimos-posts>
  </aside>
</div>
