@import "../../../styles/styles.scss";

.error {
  @include scaffolding-card;

  @include media-down($gd-media-tablet-minwidth) {
    padding: 1rem  !important;
  }

  @include media-up($gd-media-tablet-minwidth) {
    padding: 1rem 2rem !important;
  }

  h2 {
    margin: 0;
  }
}
