@import "../../../styles/styles.scss";

.error {
  display: grid;
  grid-template-areas:
    "jumbotrom jumbotrom"
    "article aside";
  column-gap: 6rem;
  grid-template-columns: 1fr 22rem;
}

jt-jumbotron {
  grid-area: jumbotrom;
}

article {
  grid-area: article;
}

aside {
  grid-area: aside;
  margin-top: 23rem;
  max-width: 21rem;
  width: 100%;
}

.content {
  margin-top: 1.5rem;
}
